[workspace]
resolver = "2"
members = [
    "crates/h10", "crates/h10_language_server",
]

[profile.dev.package.lexgen]
opt-level = 3

[profile.release]
codegen-units = 1
lto = true
opt-level = 's'
panic = 'abort'
