[workspace]
resolver = "2"
members = [
    "crates/arc_id",
    "crates/h10",
    "crates/h10_language_server",
    "crates/h10_lexer",
    "crates/rc_id",
]

[profile.dev.package.lexgen]
opt-level = 3

[profile.release]
codegen-units = 1
lto = true
opt-level = 's'
panic = 'abort'
