[package]
name = "h10_lexer"
version = "0.1.0"
authors = ["Ömer Sinan Ağacan <omeragacan@gmail.com>"]
repository = "https://github.com/osa1/h10"
license = "MIT"
edition = "2021"

[dependencies]
lexgen = "0.15"
lexgen_util = "0.15"
